// layout {
//     border {
//         active-color   "{{colors.primary.default.hex}}"
//         inactive-color "{{colors.outline.default.hex}}"
//         urgent-color   "{{colors.error.default.hex}}"
//     }
//
//     shadow {
//         color "{{colors.shadow.default.hex}}70"
//     }
//
//     tab-indicator {
//         active-color   "{{colors.primary.default.hex}}"
//         inactive-color "{{colors.outline.default.hex}}"
//         urgent-color   "{{colors.error.default.hex}}"
//     }
//
//     insert-hint {
//         color "{{colors.primary.default.hex}}80"
//     }
// }

layout {
    border {
        active-gradient from="{{colors.primary.default.hex}}" angle=45 to="{{colors.secondary.default.hex}}" relative-to="workspace-view" in="oklch longer hue"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    shadow {
        color "{{colors.shadow.default.hex}}70"
    }

    tab-indicator {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}
