@import "../waybar/one-dark.css";

window {
  background-color: @bg0;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
  background-color: @bg0;
	margin: 0px;
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: @bg0;
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: @bg0;
	padding: 15px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: @bg3; 
}
