/* Tema escuro para Wofi combinando com o Waybar */

window {
  margin: 0px;
  padding: 10px;
  background-color: #0f0f0f;
  border: 2px solid #1f1f1f;
  border-radius: 10px;
}

#input {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: #1a1a1a;
  color: #e5e5e5;
  border: none;
}

#inner-box {
  margin-top: 10px;
  background-color: #0f0f0f;
}

#outer-box {
  padding: 5px;
  background-color: #0f0f0f;
  border-radius: 8px;
}

#scroll {
  margin: 0;
  padding: 0;
}

#entry {
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 6px;
  background-color: #1a1a1a;
  color: #e5e5e5;
}

#entry:selected {
  background-color: #262626;
  color: #ffffff;
  border-left: 4px solid #3f3f3f;
}

#text {
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
  font-size: 13px;
  color: #e5e5e5;
}

