[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -S 6:30 -s 20:00
Restart=on-failure
