@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 0px 0px;
}

#cpu,
#network,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#workspaces {
  background-color: @surface0;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
}

#workspaces {
  color: @blue;
}

#workspaces button {
  color: @lavender;
  background: transparent;
  border: 0;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @peach;
}

#clock {
  color: @sapphire;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
  color: @rosewater;
}

#pulseaudio {
  color: @flamingo;
}

#network {
  color: @teal;
}

