@import "../matugen/output/waybar_colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;

  border: none;
  border-radius: 0px;

  min-height: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

tooltip {
  border-radius: 10px;
  background-color: @background;
  border: none;
}

tooltip label {
  color: @on_background;
  padding: 15px;
}

window#waybar {
  background-color: alpha(@surface, 0.6);
  border-radius: 100px;
  border: none;
}

#workspaces {
  margin: 0 5px;
  background-color: transparent;
  border-radius: 100px;
}

#workspaces button {
  background-color: darker(@on_secondary);
  color: lighter(@secondary);
  border-radius: 100px;
  margin: 3px 5px;
  min-width: 30px;
}

#workspaces button:hover {
  box-shadow: inherit;
  background: inherit;
  text-shadow: inherit;

  background-color: @background;
  color: @on_background;
  min-width: 65px;
  transition: all 0.3s ease-in-out
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @background;
  color: @on_background;
  min-width: 65px;
  transition: all 0.3s ease-in-out
}

#workspaces button.urgent {
  background-color: darker(@error_container);
}

#principal #custom-drawer,
#principal #idle_inhibitor,
#principal #pulseaudio,
#principal #network,
#principal #power-profiles-daemon,
#principal #cpu,
#principal #memory,
#principal #wireplumber,
#tray,
#clock,
#custom-notification,
#custom-power {
  padding: 3px 10px;
  margin: 3px 5px;
  border-radius: 100px;
  background-color: darker(@on_secondary);
  color: lighter(@secondary);
}

#principal #custom-drawer:hover,
#principal #idle_inhibitor:hover,
#principal #pulseaudio:hover,
#principal #network:hover,
#principal #power-profiles-daemon:hover,
#principal #cpu:hover,
#principal #memory:hover,
#principal #wireplumber:hover,
#clock:hover,
#custom-notification:hover,
#custom-power:hover {
  background-color: @background;
  color: @on_background;
}

#custom-power {
  margin-right: 15px;
}

#principal #power-profiles-daemon.performance {
  background-color: @on_primary;
}

#principal #power-profiles-daemon.balanced {
  background-color: @on_secondary;
}

#principal #power-profiles-daemon.power-saver {
  background-color: @on_tertiary;
}


#principal #network.disconnected {
  background-color: darker(@inverse_primary);
}

#principal #pulseaudio.muted {
  background-color: darker(#f53c3c);
  color: @secondary;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: darker(#f53c3c);
}

#tray menu {
  background-color: @surface_bright;
}

#principal #idle_inhibitor.activated {
  background-color: @on_primary;
  color: @secondary;
}

