@import "../matugen/output/waybar_colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

tooltip {
  border-radius: 10px;
  background-color: alpha(@background, 0.9);
}

tooltip label {
  color: @on_background;
  padding: 15px;
}

window#waybar {
  background-color: lighter(@surface);
  /* background-color: transparent; */
  border-radius: 100px;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 100px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @primary;
}

#workspaces {
  /* margin-left: 15px; */
  /* background-color: @inverse_on_surface; */
  border-radius: 100px;
}

#workspaces button {
  padding: 0px 10px;
  margin: 10px 0;
  margin-left: 15px;
  background-color: darker(@surface_bright);
  color: lighter(@primary);
  border-radius: 100px;
}

#workspaces button:hover {
  box-shadow: inherit;
  background: inherit;
  text-shadow: inherit;
  background-color: @on_secondary;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: darker(@inverse_primary);
  min-width: 40px;
  transition: all 0.3s ease-in-out
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#idle_inhibitor,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#tray,
#clock,
#custom-notification,
#custom-power {
  padding: 0px 10px;
  margin: 10px 0;
  border-radius: 100px;
  background-color: darker(@surface_bright);
  color: lighter(@primary);
}

#idle_inhibitor:hover,
#pulseaudio:hover,
#network:hover,
#power-profiles-daemon:hover,
#cpu:hover,
#memory:hover,
#tray:hover,
#clock:hover,
#custom-notification:hover,
#custom-power:hover {
  background-color: @on_secondary;
}

#custom-power {
  margin-right: 15px;
}


/* #power-profiles-daemon.performance { */
/*     background-color: darker(#f53c3c); */
/* } */
/**/
/* #power-profiles-daemon.balanced { */
/*     background-color: darker(#2980b9); */
/* } */
/**/
/* #power-profiles-daemon.power-saver { */
/*     background-color: darker(#2ecc71); */
/* } */


/* #network.disconnected { */
/*     background-color: #f53c3c; */
/* } */
/**/
/* #pulseaudio.muted { */
/*     background-color: #90b1b1; */
/*     color: #2a5c45; */
/* } */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: @on_secondary;
  color: @secondary;
}

