@import "../matugen/output/waybar_colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", monospace;
  font-size: 16px;
  font-weight: 700;
}

window#waybar {
  background-color: transparent;
  /* border-radius: 10px; */
  border: none;
}

tooltip {
  border-radius: 10px;
  background-color: alpha(@background, 0.9);
}

tooltip label {
  color: @on_background;
  padding: 15px;
}

#workspaces {
  /* margin-left: 10px; */
  background-color: alpha(@background, 0.6);
  border-radius: 100px;
  padding: 0 10px;
}

#workspaces button {
  padding: 0 10px;
  background-color: alpha(@outline, 0.4);
  border: none;
  border-radius: 100px;
  min-width: 20px;
  margin: 4px 4px;
  color: transparent;
  /* color: alpha(@crust, 0.6); */
  transition: all 0.3s ease-in-out
}

#workspaces button.focused,
#workspaces button.active {
  background-color: alpha(@secondary, 0.9);
  border: none;
  min-width: 40px;
  margin: 4px 4px;
}

#workspaces button.urgent {
  color: @on_error;
  background-color: alpha(@error, 0.4);
  border: none;
}

#workspaces button:hover {
  box-shadow: inherit;
  background: inherit;
  text-shadow: inherit;

  background-color: alpha(@tertiary, 0.9);
  border: none;
  min-width: 40px;
}

#memory {
  margin-right: 10px;
}

#idle_inhibitor,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#battery,
#clock,
#tray,
#custom-notification {
  padding: 0 10px;
  border-radius: 15px;
  background-color: alpha(@background, 0.6);
  min-width: 25px;
  color: alpha(@secondary, 0.9);
}

#idle_inhibitor:hover,
#pulseaudio:hover,
#network:hover,
#power-profiles-daemon:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#backlight:hover,
#keyboard-state:hover,
#battery:hover,
#clock:hover,
#tray:hover,
#custom-notification:hover {
  color: @on_tertiary;
  background-color: @tertiary;
}

/* #idle_inhibitor { */
/*   color: @pink; */
/* } */
/**/
/* #pulseaudio { */
/*   color: @secondary; */
/* } */
/**/
/* #network { */
/*   color: @red; */
/* } */
/**/
/* #power-profiles-daemon { */
/*   color: @maroon; */
/* } */
/**/
/* #cpu { */
/*   color: @peach; */
/* } */
/**/
/* #memory { */
/*   color: @yellow; */
/* } */
/**/
/* #temperature { */
/*   color: @green; */
/* } */
/**/
/* #backlight { */
/*   color: @green; */
/* } */
/**/
/* #keyboard-state { */
/*   color: @teal; */
/* } */
/**/
/* #battery { */
/*   color: @sky; */
/* } */
/**/
/* #clock { */
/*   color: @sapphire; */
/* } */
/**/
/* #tray { */
/*   color: @blue; */
/* } */
/**/
/* #custom-notification { */
/*   color: @lavender; */
/*   margin-right: 10px; */
/* } */

