@import "../matugen/output/waybar_colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;

  border: none;
  border-radius: 0px;

  min-height: 0;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 2px @shadow, 0 0 2px @shadow;
}

window#waybar {
  color: @primary_fixed;
  background: transparent;

}

tooltip {
  background: darker(@background);
  border: 3px solid darker(@inverse_on_surface);
  border-radius: 15px;
}

tooltip label {
  color: @secondary;
  padding: 15px;
  font-size: 13px;
}

#workspaces {
  /* background-color: alpha(@error, 0.9); */
  background-color: transparent;
  /* padding: 5px 3px; */
  margin: 0 5px;
  border-radius: 15px;
  border: none;
  /* color: @on_secondary_fixed; */
}

#workspaces button {
  background-color: darker(@source_color);
  padding: 0px 6px;
  margin: 0px 5px;
  border-radius: 15px;
  min-width: 35px;
  color: @primary_fixed;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active,
#workspaces button.urgent {
  background-color: @surface; 
  color: @primary_fixed;
  min-width: 65px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;

}

#workspaces button:hover {
  background-color: @surface;
  color: @primary_fixed;
  border-radius: 15px;
  min-width: 65px;
  background-size: 400% 400%;
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-notification,
#power-profiles-daemon,
#cpu,
#custom-weather,
#custom-nvidia,
#custom-pacman,
#memory {
 /* background-color: alpha(@surface, 0.9);*/
  background-color: darker(@source_color);
  padding: 0 15px 0 15px;
  margin: 0 5px;
  border-radius: 15px;
  border: none;
}

#battery:hover,
#pulseaudio:hover,
#network:hover,
#clock:hover,
#custom-notification:hover,
#power-profiles-daemon:hover,
#cpu:hover,
#custom-weather:hover,
#custom-nvidia:hover,
#custom-pacman:hover,
#memory:hover {
  background-color: @surface;
  color: @primary_fixed;
}

