@import "../matugen/output/waybar_colors.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;

    border: none;
    border-radius: 0;
 
    min-height: 0;
    padding: 0;
    margin: 0;

    color: alpha(@primary_fixed, 0.8);
    text-shadow: 0 0 2px @shadow, 0 0 2px @shadow;
}

window#waybar {
  background: transparent;
}

tooltip {
  border: 3px solid @surface;
  border-radius: 10px;
  background: @background;
}

tooltip label {
  color: @on_surface;
  padding: 15px;
}

#workspaces {
  margin: 0px 0px;
  padding: 5px 0px;
  border: none;
  border-radius: 10px;
}

#workspaces button {
  background-color: alpha(@on_primary, 0.5);
  margin: 0 5px;
  padding: 0 15px;
  border-radius: 10px;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: alpha(@on_primary, 0.8);
  border-radius: 10px;
  text-shadow: none;
}

#workspaces button.urgent {
  background-color: alpha(@error_container, 0.5);
  border-radius: 10px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: alpha(@background, 0.8);
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-notification,
#power-profiles-daemon,
#cpu,
#custom-weather,
#custom-nvidia {
  background: alpha(@on_primary, 0.8);
  padding: 2px 10px;
  margin: 2px 5px;
  border-radius: 10px;
}

#battery:hover,
#pulseaudio:hover,
#network:hover,
#clock:hover,
#custom-notification:hover,
#power-profiles-daemon:hover,
#cpu:hover,
#custom-weather:hover,
#custom-nvidia:hover {
  background-color: alpha(@background, 0.8);
  text-shadow: none;
}

#workspaces {
  margin-left: 10px;
}

#custom-notification {
  margin-right: 10px;
}

#battery.charging {
    color: alpha(#26A65B, 0.8);
    /* background-color: alpha(#26A65B, 0.5); */
}

#power-profiles-daemon.performance {
  color: #e08c75;
}

#power-profiles-daemon.balanced {
  color: #61afef;
}

#power-profiles-daemon.power-saver {
  color: #26A65B;
}

@keyframes blink {
    to {
        background-color: @surface;
        color: alpha(@on_error, 0.5);
    }
}

#battery.warning:not(.charging) {
    background: alpha(@on_error, 0.5);
}

