@import "../matugen/output/waybar_colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-size: 1rem;

  border: none;
  border-radius: 0px;

  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
  color: @inverse_surface;
}

tooltip {
  background: @surface;
  border: 2px solid @outline;
  border-radius: 15px;
}

tooltip label {
  color: @on_surface;
  padding: 15px;
}

#workspaces {
  background: alpha(@surface, 0.8);
  margin: 0 5px;
  padding: 5px 3px;
  border: none;
  border-radius: 15px;
}

#workspaces button {
  background: alpha(@inverse_on_surface, 0.4);
  margin: 0px 5px;
  padding: 0px 6px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  color: transparent;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: alpha(@on_primary, 0.9);
  min-width: 45px;
  color: @on_surface;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  background-color: alpha(@on_error, 0.5);
  border-radius: 15px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: alpha(@on_primary, 0.5);
  color: @on_surface;
  border-radius: 15px;
  min-width: 45px;
  background-size: 400% 400%;
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-notification,
#power-profiles-daemon,
#cpu,
#custom-weather,
#custom-nvidia {
  background-color: alpha(@surface, 0.8);
  padding: 0 15px 0 15px;
  margin: 0 5px;
  border-radius: 15px;
}

#battery:hover,
#pulseaudio:hover,
#network:hover,
#clock:hover,
#custom-notification:hover,
#power-profiles-daemon:hover,
#cpu:hover,
#custom-weather:hover,
#custom-nvidia:hover {
  background-color: alpha(@on_primary, 0.8);
  color: @on_surface;
}

#workspaces {
  margin-left: 10px;
}

#custom-notification {
  margin-right: 10px;
}

#battery.charging {
    color: @inverse_surface;
    background-color: alpha(#26A65B, 0.5);
}

#power-profiles-daemon.performance {
  color: #e08c75;
}

#power-profiles-daemon.balanced {
  color: #61afef;
}

#power-profiles-daemon.power-saver {
  color: #98c379;
}

@keyframes blink {
    to {
        background-color: @on_primary;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: alpha(#f53c3c, 0.5);
    color: @on_primary;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
