@import "../matugen/output/waybar_colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    min-height: 0;
    text-shadow: 0 0 3px @shadow, 0 0 1px @shadow;
}

window#waybar {
  background: transparent;
  color: @inverse_surface;
}

tooltip {
  border: 2px solid @outline;
  border-radius: 10px;
}

tooltip label {
  color: @on_surface;
  font-weight: normal;
  border-radius: 10px;
}

#workspaces {
  margin: 2px 5px;
  padding: 2px 10px;
  background: transparent;
  border: none;
  border-radius: 10px;
}

#workspaces button {
  margin: 0 5px;
  padding: 0px 15px;
  border-radius: 10px;
  color: @inverse_surface;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: alpha(@on_primary, 0.8);
  border-radius: 10px;
  text-shadow: none;
}

#workspaces button.urgent {
  background-color: alpha(@primary, 0.5);
  border-radius: 10px;
}

#workspaces button:hover {
  color: @inverse_surface;
  background: alpha(@on_primary, 0.5);
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-notification,
#power-profiles-daemon,
#cpu,
#custom-weather,
#custom-nvidia {
  /*background: alpha(@primary, 0.1);*/
  background: transparent;
  padding: 2px 10px;
  margin: 2px 5px;
  border-radius: 10px;
}

#battery:hover,
#pulseaudio:hover,
#network:hover,
#clock:hover,
#custom-notification:hover,
#power-profiles-daemon:hover,
#cpu:hover,
#custom-weather:hover,
#custom-nvidia:hover {
  color: @inverse_surface;
  background: alpha(@on_primary, 0.8);
  text-shadow: none;
}

#clock {
  margin-left: 10px;
}

#custom-notification {
  margin-right: 10px;
}

#battery.charging {
    color: @inverse_surface;
    background-color: alpha(#26A65B, 0.5);
}

#power-profiles-daemon.performance {
  color: #e08c75;
}

#power-profiles-daemon.balanced {
  color: #61afef;
}

#power-profiles-daemon.power-saver {
  color: #26A65B;
}

@keyframes blink {
    to {
        background-color: @on_primary;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: alpha(#f53c3c, 0.5);
    color: @on_primary;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

